<li><%= link_to "Inicio", pages_about_us_path  %> </li>
<li><%= link_to "Sobre nosotros", pages_about_us_path  %></li>
<li><%= link_to "Contacta con nosotros", pages_contact_us_path  %></li>
<li><%= link_to "Preguntas frecuentes", pages_faq_path  %></li>


<% if current_user %>
    <li><%= link_to "Organizations", organizations_path  %></li>
    <li><%= link_to "Organization Members", organization_members_path  %></li>
    <li><%= link_to "Parking Places", parking_places_path  %></li>
    <% if current_user.chef? %>
        <li><%= link_to "Parking Places", parking_places_path  %></li>
    <% end %>    

<% end %>

