<li><%= link_to "Inicio", home_path  %> </li>
<li><%= link_to "Sobre nosotros", pages_about_us_path  %></li>
<li><%= link_to "Contactanos", pages_contact_us_path  %></li>
<li><%= link_to "Preguntas frecuentes", pages_faq_path  %></li>

<li><%= link_to "Reservas", bookings_path  %></li>

<% if current_user %>
    <li><%= link_to "Organizaciones", organizations_path  %></li>
    <li><%= link_to "Miembros de la Organizacion", organization_members_path  %></li>
    <li><%= link_to "Lugares de Estacionamiento", parking_places_path  %></li>
    <li><%= link_to "Feedbacks", feedbacks_path  %></li>
    <% if current_user.chef? %>
        <li><%= link_to "Lugares de Estacionamiento", parking_places_path  %></li>
    <% end %>    

<% end %>